
$primary-color: #fff;
$secondary-color: #000;
$font-stack:  Sailec;
$bg-color: #102421;



$break-minipadportrait: 768px;
$break-maxipadportrait: 992px;
$break-minipadlandscape: 993px;
$break-maxipadlandscape: 1024px;
$break-large-screen: 1560px;
$break-lg-screen:1400px;
$mobile-break: 767px;